# copy these rules into a file on your server called .htaccess
# or simply rename this file!

Options +FollowSymLinks
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* /project/2013/271/g1327105/php-proxy/index.php [L]
